body{
    background-color: #010148;
}
/*header*/
header{
    color: white;
    display: flex;
    justify-content: end;
    background-color:#1B1B7D;
}
.about{
    padding-left: 44em;
}
.portfolio_{
    padding-left: 1.5em;
}
.contact{
    padding-left: 1.5em;
}
/*first-name*/
.first-name{
    color: white;
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1.5em;
    position:static;
}
.web-dev{
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3.5em;
}
.Meteor-Falling-PNG{
    position:absolute;
    z-index: +1;
    top:8em;
    left:17em;
    width: 50em;
    height: 50em;
    opacity: 80%;
}

